!!!

html(dir="rtl")
  head
    title iClinic
    link(rel='stylesheet', href='css/monovision/index.css')

  body
    #container

      #contact-top
        include ../partials/contact-us

      a#youtube-link(href='http://www.youtube.com/watch?v=0imdoZkJOfE&list=TLRad7OgV7oDk')
      a#phone-link(href='tel://*55567')
      a#iclinic-link(href='http://i-clinic.co.il/')

      #contact-bottom
        include ../partials/contact-us