!!!

html(dir="rtl")
  head
    title iClinic
    link(rel='stylesheet', href='css/monovision/index.css')

  body
    #container

      #contact-top
        include ../partials/contact-us

      #contact-bottom
        include ../partials/contact-us