body {
  direction: rtl;
}

#container {
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  height: 670px;
  padding: 0px 20px 20px 20px;

  position: relative;
}

#contact-container {
  height: 14%;
  width: 66%;

  position: absolute;
  bottom: 5%;
  right: 4%;

  font-family: Arial;
}
#contact-header {
  height: 30%;

  background-color: rgb(1, 72, 102);
  color: white;

  margin-bottom: 3px;

  text-align: center;
}
#contact-header span {
  display: inline-block;
  margin-top: 5px;
}

#contact-body {
  height: 55px;

  background-color: rgb(174, 201, 209);
  color: rgb(1, 72, 100);

  text-align: center
}

#success-messages {
  padding-top: 13px;
  text-align: center
}

#contact-body form {
  padding-top: 13px;
}

input {
  height: 20px;
  width: 16%; 
}

.data {
  margin-left: 1%; 
}

.input-error {
  border-color: red;
  box-shadow: 0px 0px 10px 1px red;
  /*background-color: rgba(255, 0, 0, 0.75);*/
}

#submit {
  background-color: rgb(1, 132, 136);
  color: white;

  height: 26px;
  width: 11%;
}

.require {
  color: red;
}