body {
  direction: rtl;
}

#container {
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  height: 670px;
  padding: 0px 20px 20px 20px;

  position: relative;
}

#contact-container {
  height: 100px;
  width: 600px;

  position: absolute;
  bottom: 5%;
  right: 6%;

  font-family: Arial;
}
#contact-header {
  width: 100%;
  height: 27px;

  background-color: rgb(1, 72, 102);
  color: white;

  margin-top: 1px;
  margin-bottom: 3px;

  text-align: center;
}
#contact-header span {
  display: inline-block;
  margin-top: 4px;
  font-size: 16px;
}

#contact-body {
  height: 55px;

  background-color: rgb(174, 201, 209);
  color: rgb(1, 72, 100);

  margin-bottom: 1px;
}

#success-messages {
  padding-top: 13px;
  font-size: 16px;
  text-align: center
}

#contact-body form {
  padding-top: 13px;
  font-size: 16px;
  padding-right: 2px;
}

input {
  height: 20px;
  width: 100px; 
}

.data {
  margin-left: 4px; 
}

.input-error {
  border-color: red;
  box-shadow: 0px 0px 10px 1px red;
  /*background-color: rgba(255, 0, 0, 0.75);*/
}

#submit {
  background-color: rgb(1, 132, 136);
  color: white;

  /*box-shadow: 1px 1px */
  height: 26px;
  width: 65px;
  margin-right: 3px;
}

.require {
  color: red;
}